---
import Layout from '@layouts/Layout.astro'
import Footer from '@components/Footer.astro'
import Header from '@components/Header.astro'
import SocialLinks from '@components/SocialLinks.astro'

import { Image } from 'astro:assets'
import singleCover from '@assets/img/cybermode-theway.png'
import singleCover2 from '@assets/img/cybermode-you-and-me.jpg'
---

<Layout title="Home">
  <div class="flex flex-col min-h-[100dvh] dark:bg-muted dark:text-muted-foreground">
    <Header />
    <div
      class="flex flex-col items-center justify-center flex-1 bg-background px-4 py-12 sm:px-6 lg:px-8 dark:bg-muted"
    >
      <div class="w-full max-w-xl gap-y-3 flex flex-col">
        <div
          class="rounded-lg border bg-white text-card-foreground shadow-sm dark:bg-neutral-900 dark:text-white"
          data-v0-t="card"
        >
          <div class="p-6">
            <div class="flex flex-col items-center space-y-4">
              <Image
                src={singleCover2}
                class="rounded-lg shadow-lg w-fit h-[300px] sm:h-[400px] object-cover"
                alt="Album Cover"
                style="aspect-ratio: 300 / 300; object-fit: cover;"
              />
              <div class="space-y-2 text-center">
                <h2 class="text-2xl font-bold text-gray-800 dark:text-white">Ти і Я</h2>
                <p class="text-muted-foreground dark:text-muted-foreground">The Cybermode</p>
              </div>
              <a
                href="https://www.youtube.com/watch?v=vFeT4Jw1bVg"
                class="inline-flex items-center justify-center rounded-md bg-rose-600 px-6 py-2 text-sm font-medium text-white shadow-sm transition-colors hover:bg-rose-600/90 focus:outline-none focus:ring-2 focus:ring-rose-600 focus:ring-offset-2 dark:bg-rose-600 dark:text-white"
              >
                Listen
              </a>
              <SocialLinks youtubeHref="https://www.youtube.com/watch?v=vFeT4Jw1bVg" />
            </div>
          </div>
        </div>

        <div
          class="rounded-lg border bg-white text-card-foreground shadow-sm dark:bg-neutral-900 dark:text-white"
          data-v0-t="card"
        >
          <div class="p-6">
            <div class="flex flex-col items-center space-y-4">
              <Image
                src={singleCover}
                class="rounded-lg shadow-lg w-fit h-[300px] sm:h-[400px] object-cover"
                alt="Album Cover"
                style="aspect-ratio: 300 / 300; object-fit: cover;"
              />
              <div class="space-y-2 text-center">
                <h2 class="text-2xl font-bold text-gray-800 dark:text-white">Шлях</h2>
                <p class="text-muted-foreground dark:text-muted-foreground">The Cybermode</p>
              </div>
              <a
                href="https://www.youtube.com/watch?v=uJzkCZW-0gU"
                class="inline-flex items-center justify-center rounded-md bg-rose-600 px-6 py-2 text-sm font-medium text-white shadow-sm transition-colors hover:bg-rose-600/90 focus:outline-none focus:ring-2 focus:ring-rose-600 focus:ring-offset-2 dark:bg-rose-600 dark:text-white"
              >
                Listen
              </a>
              <SocialLinks youtubeHref="https://www.youtube.com/watch?v=uJzkCZW-0gU" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</Layout>
